* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    display: flex;
    height: 92px;
    position: absolute;
    background: transparent;

}


.nav-content {
    cursor: pointer;
    display: inline-flex;

}

.logo{
    width: 36vw;
}

.container {
    padding-left: 48vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}



